__pycache__
outputs
OLD
*.ckpt
plots_DEF_cumulative
make_plots.py
figs/
test.yaml

*.pth
*.png
*.log
*.pkl
*.pt
*.json
*.csv
*.gz
*.tar

data_batch*
test_batch*
batches*
# ignore all the folders that start with outputs
outputs*
*/show_results_my.py
