numpy
pandas
scipy
scikit-learn
tqdm
networkx
lightning
cdt
fpdf2
requests
python-dotenv
hydra-core==1.3.*
openpyxl
huggingface_hub
transformers
wandb
plotly
kaleido
gdown
causal-learn
langchain_community
langchain
langchain_core
langchain_huggingface
accelerate
bnlearn==0.12.0
pgmpy==0.1.25
nltk
mistralai
openai
beautifulsoup4
lxml
duckduckgo_search
opacus
seaborn
SciencePlots
torchxrayvision
kagglehub
